.container {
  max-width: 290px;
  height:560px;
}

.video {
  position: relative;
  bottom:12px;
  left:-14px;
}

.frame {
  position: relative;
  bottom:482px;
  left:26px;
  width:228px;
  height:403px;
  overflow: hidden;

}